.WriteFlex {
  display: flex;
  background-color: #efefef;
}

.ForWrite {
  flex: 6;
  background-color: white;
  margin-top: 20px;
  border-radius: 5px;
  width: 95%;
}

.WriteRightFlex {
  flex: 2;
}


.InputWriteImger {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 8px;
  color: #4d4a4a;
  font-weight: 900;
  margin-left: 15px;
}

.SuccessMsg {
  margin-left: 10px;
  padding-top: 8px;
  color: rgb(6, 175, 6);
}

.FailedMsg {
  margin-left: 10px;
  padding-top: 8px;
  color: red;
}

.writetext-box {
  margin-top: 20px;
}

.Writepost-btns {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}

.linkback {
  text-decoration: none;
  padding: 9px 40px;
  color: white;
  margin-right: 20px;
  font-size: 0.8rem;
  border-radius: 5px;
  background-color: rgba(55, 145, 248, 0.918);
}

.Writepost-btn {
  padding: 11px 30px;
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: rgba(55, 145, 248, 0.918);
}

.Writepost-btn:hover {
  background-color: rgba(17, 127, 252, 0.918);
}
.linkback:hover {
  background-color: rgba(17, 127, 252, 0.918);
}

.InputWriteImger:hover {
  color: #57b1ee;
}

@media only screen and (max-width: 900px) {
  .WriteRightFlex {
    flex: 0;
  }
}
