.PostDetailsFlex {
  display: flex;
  background-color: #efefef;
  /* margin-top: 10px; */
}

.smain-container {
  margin-top: 7px;
  border-radius: 5px;
  padding: 10px 0;
  background-color: white;
  border: 1px solid rgb(192, 190, 190);
}

.DetailsContainer {
  flex: 6;
}

.SinglePostRightFlex {
  flex: 3;
}

.sprofile-container {
  width: 95%;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sNameDate {
  line-height: 1.2rem;
}

.sprofile-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.spostDate {
  color: rgb(71, 70, 70);
  font-size: 0.7rem;
}

.simg-name-box {
  text-decoration: none;
  display: flex;
}

.smain-pic {
  object-fit: cover;
  max-height: 370px;
  width: 100%;
}

.spostUserdate {
  color: black;
}

.sPostTitle {
  margin-top: 10px;
  font-size: 1.7rem;
  color: #000;
  margin-left: 3%;
  margin-right: 3%;
}

.sAlink {
  text-decoration: none;
}

.sPostDesc {
  color: #000;
  margin-top: 7px;
  margin-left: 3%;
  margin-right: 3%;
  line-height: 1.5rem;
  margin-bottom: 10px;
}

.CommentsSpacing {
  margin: 20px 0;
  display: none;
  border-top: 1px solid rgb(192, 190, 190);
}

.activecom {
  display: block;
}

.EditPostion {
  position: relative;
}

.Editbtn {
  cursor: pointer;
  border-radius: 50%;
}

.Editbtn:hover {
  background-color: rgb(189, 189, 189);
  color: #eeeeee;
}

.InputCommentBtn {
  color: white;
  font-size: 35px !important;
}

.singlePostTitleInput {
  margin: 20px 15px;
}

.singlePostTitle {
  margin: 10px 0 !important;
}

.singlePostTitle:focus {
  color: rgb(11, 66, 99) !important;
}