.SettingsFlexBox {
  display: flex;
}

.SettingsContainer {
  position: relative;
  flex: 5;
}

.SetWrapper {
  padding: 20px 15px;
  border-radius: 5px;
  margin: 25px auto;
  width: 95%;
  border: 1px solid rgb(139, 138, 138);
}

.SetUser {
  margin-bottom: 23px;
}

.SettingsRightFlex {
  flex: 2;
}

.ForInputGap {
  margin-bottom: 25px;
}

.InputStraight {
  display: flex;
  align-items: center;
}

.ProInput_Img {
  margin-right: 15px;
  width: 50px;
  height: 50px;
  border: 2px solid rgb(224, 223, 223);
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .SettingsRightFlex {
    display: none;
  }
  .SetWrapper {
    width: 100%;
  }
}
