:root {
  --primary-color: rgb(8, 53, 121);
  --secondary-color: white;
}

.topbarContainer {
  height: 55px;
  width: 100%;
  box-shadow: 0 1px 5px -3px #000;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
}

.menuBtn {
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
  left: -3px;
  top: 15px;
  position: fixed;
  margin-left: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(104, 97, 97);
}

.topbarLeft {
  flex: 1.5;
  display: flex;
  justify-content: center;
}

.logo {
  font-size: 24px;
  margin-left: 10px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  cursor: pointer;
  background-color: black;
  padding: 3px 7px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.LogoList {
  font-size: 6px;
  /* font-weight: 800; */
}

.LogoLists {
  line-height: 10px;
}

.topbarCenter {
  flex: 3;
}

.searchbar {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.searchIcon {
  margin-left: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  right: 4px;
  font-size: 12px;
}

.searchInput {
  border: 1px solid rgb(75, 71, 71);
  width: 100%;
  margin-left: 10px;
  padding: 10px 7px;
  border-radius: 5px;
}

.searchInput:focus {
  outline: none;
}

.Icon {
  color: rgb(129, 125, 125) !important;
  padding: 5px;
  font-size: 35px !important;
}

.Icon:hover {
  background-color: rgb(129, 125, 125);
  border-radius: 50%;
  color: rgb(255, 255, 255) !important;
}

.topbarRight {
  flex: 7.5;
  display: flex;
  align-items: center;
  justify-content: right;
  color: white;
}

.topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

.topbarLink:hover {
  color: #3a8fde;
}

.topbarIcons {
  display: flex;
  margin: 0 30px 0 30px;
  align-items: center;
  position: relative;
}

.topbarIconItem {
  margin-right: 25px;
  cursor: pointer;
  position: relative;
}

.topbarIconItemSearch {
  margin-right: 12px;
  cursor: pointer;
  display: none;
  position: relative;
}

.None_chatIcon {
  display: none;
}

.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border: 2px solid rgb(224, 223, 223);
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.linkList {
  top: 40px;
  right: 30px;
  width: 200px;
  height: 210px;
  position: absolute;
  line-height: 2rem;
  display: flex;
  padding: 5px;
  background-color: white;
  flex-direction: column;
  box-shadow: 0 1px 3px 1px rgb(116, 114, 114);
  border-radius: 5px;
}

.linktoggle {
  display: none;
}

.linktoggle.active {
  display: block;
}

.linkListprofile {
  color: #000;
  padding-left: 5px;
  border-radius: 3px;
  border-bottom: 1px solid rgba(44, 44, 44, 0.363);
  text-decoration: none;
}

.linkListprofile:hover {
  background-color: #d6e8fa;
  color: #2d82d1;
}

.linkListItems {
  color: #000;
  padding: 5px 0 5px 5px;
  margin: 2px 0;
  border-radius: 3px;
  text-decoration: none;
}

.linkListbtn:hover,
.linkListItems:hover {
  background-color: #d6e8fa;
  color: #2d82d1;
}

.linkListbtn {
  color: #000;
  font-size: 1rem;
  padding: 10px 0 10px 5px;
  margin: 2px 0;
  border-radius: 3px;
  outline: none;
  border: none;
  text-align: left;
  border-top: 1px solid rgba(44, 44, 44, 0.363);
  text-decoration: none;
  background-color: white;
}

.styleLink {
  padding: 10px 7px;
  margin-left: 10px;
  border: 2px solid #3a8fde;
  color: #3a8fde;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.styleLink:hover {
  background-color: #2484dd;
  color: white;
}

.topbarLinks {
  display: flex;
  align-items: center;
  font-family: 500;
}

.SearchBoxPopUp {
  position: absolute;
  background-color: white;
  width: 100%;
  top: 54px;
  border-bottom: 1px solid rgba(99, 97, 97, 0.295);
}

.SearchBoxWrapers {
  padding: 20px 30px 10px 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.searchNameLinksContainer {
  display: flex;
  width: 100%;
  padding: 5px 0;
  border-radius: 5px;
  flex-direction: column;
}

/* .SearchBoxPopUp.searchboxact {
  display: block;
} */

.SearchPopUpInputBox {
  width: 90%;
}

.SearchPopUpBtn {
  color: rgb(116, 114, 114);
}

.SearchPopUpInput {
  width: 100%;
  padding: 7px 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(116, 114, 114);
}

.searchNameLinksCon {
  display: flex;
  background-color: white;
  width: 100%;
  padding: 5px 0;
  margin: 0 0 0 5px;
  box-shadow: 0 1px 5px -2px #000;
  border-radius: 5px;
  flex-direction: column;
  position: absolute;
  top: 40px;
}

.searchNameLinks {
  text-decoration: none;
  color: #000;
  padding: 4px 10px;
  border-radius: 2px;
  margin: 0 1px;
}

.noneInLarge {
  display: none;
}

.responsive {
  padding: 6px 15px;
}

.searchNameLinks:hover {
  outline: 1px solid rgb(136, 182, 243);
  color: rgb(61, 137, 238);
}

/* Media Query */

@media only screen and (max-width: 700px) {
  .display_none {
    display: none;
  }
  .searchNameLinksCon {
    top: 60px;
    margin: 0 0 0 0;
  }
  .noneInLarge {
    display: block;
  }
  .topbarIconItemSearch {
    display: block;
  }
  .logo {
    margin-left: 50px;
  }
  .topbarIconItem {
    margin-right: 12px;
  }
  .topbarIcons {
    margin-right: 10px;
  }
  .menuBtn {
    display: block;
  }
}
