@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif, Arial, Helvetica !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
  @apply flex mx-auto max-w-360 bg-gray-70;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cccccc;
  border: 0px none #ffffff;
  border-radius: 100px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #e9e9e9;
  border: 0px none #ffffff;
  border-radius: 0px;
}
.custom-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}

.trucate-word {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.h-screen-cal-55 {
  height: calc(100vh - 55px);
}

.animate-enter {
  -webkit-animation: animate-enter 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: animate-enter 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes animate-enter {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes animate-enter {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.animate-leave {
  -webkit-animation: animate-leave 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: animate-leave 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes animate-leave {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px);
    transform: translateZ(-1100px);
    opacity: 0;
  }
}
@keyframes animate-leave {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px);
    transform: translateZ(-1100px);
    opacity: 0;
  }
}

.circle-loader {
  border: 4px solid #e2e2e2;
  border-top: 4px solid #1877f2;
  border-left: 4px solid #1877f2;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
